<template>
  <div id="app">
    <LangButton />
    <Logo />
    <Title />
    <FormBox />
  </div>
</template>

<script>
import LangButton from '../components/LangButton.vue'
import Logo from '../components/Logo.vue'
import Title from '../components/Title.vue'
import FormBox from '../components/FormBox.vue'

export default {
  name: 'Form',
  components: {
    LangButton,
    Logo,
    Title,
    FormBox
  }
}
</script>

<style lang="scss">
@import "@/assets/sass/main";
</style>
