<template>
  <div id="app">
    <Logo />
    <RequestsList />
  </div>
</template>

<script>
import Logo from '../components/Logo.vue'
import RequestsList from '../components/RequestsList.vue'

export default {
  name: 'Requests',
  components: {
    Logo,
    RequestsList
  }
}
</script>

<style lang="scss">
@import "@/assets/sass/main";
</style>
