<template>
    <div class="form">
        <form action="#" @submit.prevent="submitForm()">

            <div class="field-holder">
                <label for="name">{{ $t('form.name') }}</label>
                <span class="vpd-input-group">
                    <label for="name" class="vpd-icon-btn">
                        <svg width="18px" height="18px" width:16px class="svg-icon"><use xlink:href="#icon-user"></use></svg>
                        <symbol id="icon-user" viewBox="0 0 32 32">
                            <title>user</title>
                            <path fill="#ffffff" d="M18 22.082v-1.649c2.203-1.241 4-4.337 4-7.432 0-4.971 0-9-6-9s-6 4.029-6 9c0 3.096 1.797 6.191 4 7.432v1.649c-6.784 0.555-12 3.888-12 7.918h28c0-4.030-5.216-7.364-12-7.918z"></path>
                        </symbol>
                    </label>
                    <input v-model="user.name" type="name" name="name" id="name" />
                </span>
            </div>

            <div class="field-holder">
                <label for="occupation">{{ $t('form.occupation') }}</label>
                <span class="vpd-input-group">
                    <label for="occupation" class="vpd-icon-btn">
                        <svg width="18px" height="18px" width:16px class="svg-icon"><use xlink:href="#icon-user"></use></svg>
                    </label>
                    <input v-model="user.occupation" type="text" name="occupation" id="occupation" />
                </span>
            </div>

            <div class="field-holder">
                <label for="contact_number">{{ $t('form.contactNumber') }}</label>
                <span class="vpd-input-group">
                    <label for="contact_number" class="vpd-icon-btn">
                        <svg width="18px" height="18px" width:16px class="svg-icon"><use xlink:href="#icon-phone"></use></svg>
                        <symbol id="icon-phone" viewBox="0 0 32 32">
                          <title>phone</title>
                          <path fill="#ffffff" d="M22 20c-2 2-2 4-4 4s-4-2-6-4-4-4-4-6 2-2 4-4-4-8-6-8-6 6-6 6c0 4 4.109 12.109 8 16s12 8 16 8c0 0 6-4 6-6s-6-8-8-6z"></path>
                        </symbol>
                    </label>
                    <input v-model.number="user.contactNumber" type="tel" name="contact_number" id="contact_number" />
                </span>
            </div>

            <div class="range-holder mb-5">
              <label for="message">{{ $t('form.priority') }} </label>
              <b-form-input id="range-1" v-model="user.priority" type="range" min="1" max="3"></b-form-input>
              <span class="low">{{ $t('form.low') }}</span>
              <span class="medium">{{ $t('form.medium') }}</span>
              <span class="high">{{ $t('form.high') }}</span>
            </div>

            <div class="field-holder">
                <label for="main_checkboxes">{{ $t('form.problemsTitle') }}</label>
                <div class="main-checkboxes has-clear-fix">
                  <div class="checkbox" v-for="(problem, index) in $t('form.problems')" :key="index">
                    <input type="checkbox" :id="`checkbox_${index}`" v-model="user.problems" name="problem" :value="problem.title">
                    <label :for="`checkbox_${index}`">
                      <img :src="getImg('/icons', problem.icon)" :alt="problem.title">
                      <strong>{{ problem.title }}</strong>
                      <p>{{ problem.instances }}</p>
                    </label>
                  </div>
                </div>
            </div>

            <div class="field-holder">
                <label for="message">{{ $t('form.description') }}</label>
                <textarea v-model="user.message" name="message" id="message" class="form-control" :placeholder="$t('form.descriptionPlaceholder')"></textarea>
            </div>

            <div class="upload-holder">
              <label for="upload_images">{{ $t('form.uploadImages') }}</label>
              <b-form-file multiple id="upload_images" @input="fileAdded" accept="image/*" >
                <template slot="file-name" slot-scope="{ names }">
                  <b-badge variant="dark">{{ names[0] }}</b-badge>
                  <b-badge v-if="names.length > 1" variant="dark" class="ml-1">
                    + {{ names.length - 1 }} More files
                  </b-badge>
                </template>
              </b-form-file>
            </div>

            <div class="section-holder mb-5">
              <div class="field-holder mb-0">
                <label for="address">{{ $t('form.address') }}</label>
                <GoogleMap v-model="user.location" class="standalone"/>
              </div>
              <div class="field-holder mt-0">
                <div class="d-flex justify-content-between">
                  <div class="inner-box">
                    <label for="floor">{{ $t('form.floor') }}</label>
                    <input v-model="user.floor" type="tel" name="floor" id="floor" class="standalone" />
                  </div>
                  <div class="inner-box">
                    <label for="room">{{ $t('form.room') }}</label>
                    <input v-model="user.room" type="tel" name="room" id="room" class="standalone" />
                  </div>
                </div>
              </div>
            </div>

            <label for="responsiblePerson">{{ $t('form.responsiblePerson') }}</label>
            <div class="section-holder mb-5">
                <div class="field-holder">
                  <label for="responsiblePersonName">{{ $t('form.name') }}</label>
                  <span class="vpd-input-group">
                      <label for="responsiblePersonName" class="vpd-icon-btn">
                          <svg width="18px" height="18px" width:16px class="svg-icon"><use xlink:href="#icon-user"></use></svg>
                      </label>
                      <input v-model="user.responsiblePerson.name" type="text" name="responsiblePersonName" id="responsiblePersonName" />
                  </span>
                </div>

                <div class="field-holder">
                  <label for="responsiblePersonNumber">{{ $t('form.contactNumber') }}</label>
                  <span class="vpd-input-group">
                      <label for="responsiblePersonNumber" class="vpd-icon-btn">
                          <svg width="18px" height="18px" width:16px class="svg-icon"><use xlink:href="#icon-phone"></use></svg>
                      </label>
                      <input v-model.number="user.responsiblePerson.number" type="tel" name="responsiblePersonNumber" id="responsiblePersonNumber" />
                  </span>
                </div>
            </div>

            <label for="possibleDuration">{{ $t('form.possibleTimes') }}</label>
            <div class="section-holder" v-for="(pD, index) in user.possibleDuration" :key="index">
                <label>{{ $t('form.date') }}</label>
                <DatePicker v-model="user.possibleDuration[index].date" />
                <div class="d-flex justify-content-between">
                  <div class="inner-box">
                    <label>{{ $t('form.fromTime') }}</label>
                    <DatePicker v-model="user.possibleDuration[index].fromTime" type="time" format="HH:mm" />
                  </div>
                  <div class="inner-box">
                    <label>{{ $t('form.toTime') }}</label>
                    <DatePicker v-model="user.possibleDuration[index].toTime" type="time" format="HH:mm" />
                  </div>
                </div>
            </div>
            <div class="divider" />
            <div class="field-holder">
                <button type="submit">{{ $t('form.submit') }}</button>
            </div>
        </form>
    </div>
</template>

<script>
import { db, storage } from '../FireBase'
import GoogleMap from '@/components/GoogleMap.vue'

export default {
  components: {
    GoogleMap
  },
  data () {
    return {
      user: {
        'name': null,
        'occupation': null,
        'contactNumber': null,
        'priority': 1,
        'problems': [],
        'message': null,
        'images': [],
        'location': { lat: 60.157472, lng: 24.9602139, address: 'Helsinki' },
        'floor': null,
        'room': null,
        'responsiblePerson': {
          'name': null,
          'number': null
        },
        'possibleDuration': [
          {
            'date': null,
            'fromTime': null,
            'toTime': null
          },
          {
            'date': null,
            'fromTime': null,
            'toTime': null
          }
        ]
      }
    }
  },
  methods: {
    submitForm () {
      db.collection('requests').add({ address: this.user.location.address, ...this.user })
        .then(console.log)
        .catch(console.error)
    },
    fileAdded (file) {
      const storageRef = storage.ref()
      const uploadTask = storageRef.child('images/' + file.name).put(file[0])

      // Listen for state changes, errors, and completion of the upload.
      uploadTask.on('state_changed',
        function (snapshot) {
          // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
          const progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100
          console.log('Upload is ' + progress + '% done')
          switch (snapshot.state) {
            case 'paused':
              console.log('Upload is paused')
              break
            case 'running':
              console.log('Upload is running')
              break
          }
        },
        function (error) {
          console.error(error)
        },
        function () {
          // Upload completed successfully, now we can get the download URL
          uploadTask.snapshot.ref.getDownloadURL().then(function (downloadURL) {
            console.log('File available at', downloadURL)
            this.user.images.push(downloadURL)
          }.bind(this))
        }.bind(this)
      )
    }
  }
}
</script>
