<template>
  <div>
    <gmap-place-input
      :default-place="place"
      @place_changed="placeChangedEvent"
    />

    <gmap-map :center="{lat:currentLocation.lat, lng:currentLocation.lng}" :zoom="12" :options="{disableDefaultUI:true}">
      <GmapMarker
        :position="currentLocation"
        :clickable="true"
        @click="place=m.position"
      />
    </gmap-map>
  </div>
</template>

<script>
export default {
  name: 'GoogleMap',
  data () {
    return {
      currentLocation: { lat: 60.169882, lng: 24.938431 },
      place: 'Helsinki',
      searchAddressInput: ''
    }
  },
  mounted () {
    this.geolocation()
  },
  methods: {
    placeChangedEvent (location) {
      this.currentLocation = {
        lat: location.geometry.location.lat(),
        lng: location.geometry.location.lng(),
        address: location.formatted_address
      }
      this.$emit('input', this.currentLocation)
    },
    geolocation: function () {
      navigator.geolocation.getCurrentPosition((position) => {
        this.currentLocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        }
      })
    }
  }
}
</script>
