<template>
    <a href="javascript:void(0)" class="lang-button" @click="changeLang()">
        <img :src="getImg('/icons', 'fl.svg')" alt="FL Flag" v-if="currentLang === 'en'" />
        <img :src="getImg('/icons', 'en.svg')" alt="EN Flag" v-if="currentLang === 'fl'" />
    </a>
</template>

<script>
export default {
  computed: {
    currentLang () {
      return this.$root._i18n.locale
    }
  },
  methods: {
    changeLang () {
      if (this.currentLang === 'en') {
        this.$root._i18n.locale = 'fl'
      } else {
        this.$root._i18n.locale = 'en'
      }
    }
  }
}
</script>
