<template>
    <div class="my-4">
        <b-table-simple
            striped
            responsive
            hover
            dark="true"
        >
            <b-thead>
                <b-tr>
                    <b-th>Name (Occupation)</b-th>
                    <b-th>Phone number</b-th>
                    <b-th>Message</b-th>
                    <b-th>Issues</b-th>
                    <b-th>Address</b-th>
                    <b-th>Room and Floor</b-th>
                    <b-th>Responsible</b-th>
                    <b-th>Images</b-th>
                    <b-th>Delete</b-th>
                </b-tr>
            </b-thead>
            <b-tbody>
                <b-tr v-for="(request, idx) in requests" :key="idx">
                    <b-td>{{request.name||"-"}} ({{request.occupation||"-"}})</b-td>
                    <b-td>{{request.contactNumber || "-"}}</b-td>
                    <b-td>{{request.message||"-"}}</b-td>
                    <b-td>
                        <ul>
                            <li v-for="(problem, problemidx) in request.problems" :key="problemidx">
                            {{problem}}
                            </li>
                        </ul>
                    </b-td>
                    <b-td>{{request.address||"-"}}</b-td>
                    <b-td>{{request.room}} {{request.floor}}</b-td>
                    <b-td>{{request.responsiblePerson.name||"-"}} ({{request.responsiblePerson.number || "-"}}) </b-td>
                    <b-td>
                        <ul>
                            <li v-for="(image, imageidx) in request.images" :key="imageidx">
                                <a :href="image" >Image {{imageidx+1}}</a>
                            </li>
                        </ul>
                    </b-td>
                    <b-td>
                        <b-button v-on:click="deleteRequest(request)">Delete</b-button>
                    </b-td>
                </b-tr>
            </b-tbody>
        </b-table-simple>
        <gmap-map :center="initialLocation" :zoom="10" :options="{disableDefaultUI:true}">
            <GmapMarker
                v-for="(request, index) in requests.filter(request => request && request.location)"
                :key="index"
                :position="request.location"
                :clickable="true"
                @click="center=m.position"
            />
        </gmap-map>
    </div>
</template>

<script>
import { db } from '../FireBase'

export default {
  name: 'RequestsList',
  data: () => ({ requests: [], initialLocation: { lat: 60.1969402, lng: 24.8722316 } }),

  firestore: {
    requests: db.collection('requests')
  },
  methods: {
    deleteRequest: function (request) {
      db.collection('requests').doc(request.id).delete()
    },
    formatRequests: function () {
      console.log(this.requests)
      return this.requests.map(e => e.users)
    }
  }
}

</script>

<style>
table {
    color: #fff,
}
</style>
