<template>
  <div>
    <div id="navigation">
    <router-link to="/">Home</router-link> |
    <router-link to="/requests">Requests</router-link>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
import Form from './pages/Form.vue'
import Vue from 'vue'
import VueRouter from 'vue-router'
import Requests from './pages/Requests'

Vue.use(VueRouter)

const router = new VueRouter({
  routes: [
    {
      path: '/',
      component: Form
    },
    {
      path: '/requests',
      component: Requests
    }
  ]
})

export default {
  router
}
</script>

<style>
#navigation {
  position : absolute;
  top:10px;
  left:10px;
}

</style>
