.checkbox{
    float: left;
    width:48%;
    color:$color_1;
    text-align: center;
    margin-bottom: 4%;
    margin-left:4%;
    label{
        position: relative;
        height: 200px;
        padding: 15px 10px 48px 10px;
        margin-bottom: 0 !important;
        border:1px solid $color_6;
        border-radius: $border_radius_medium;
        transition:all .2s ease-in-out;
        cursor: pointer;
        &::before{
            content:'';
            position: absolute;
            bottom:10px;
            left:50%;
            width:30px;
            height: 30px;
            margin-left: -15px;
            background-color: $background_color_2;
            border-radius: $border_radius_small;
        }
        &::after{
            content:'';
            position: absolute;
            bottom:10px;
            left:50%;
            width:30px;
            height: 30px;
            margin-left: -15px;
            opacity: 0;
            visibility: hidden;
            background: url('~@/assets/images/assets/tick.svg') no-repeat center $background_color_7;
            background-size: 22px;
            border-radius: $border_radius_small;
            transition:all .2s ease-in-out;
        }
    }
    input:checked + label{
        border-color: $background_color_7;
        img{
            transform: rotate(360deg);
        }
        strong{
            color :$color_7;
        }
        &::after{
            opacity: 1;
            visibility: visible;
        }
    }
    strong{
        display: block;
        font-size: $font_size_10;
        margin-top:2px;
        transition:all .2s ease-in-out;
    }
    &:nth-child(2n+1){
        margin-left: 0;
    }
    img{
        width: 40px;
        transition:all .3s ease-in-out;
    }
    input{
        display: none !important;
    }
    p{
        font-family: $font_reset_default;
        font-size: $font_size_3;
        color: $color_5;
        padding-top:0;  
        margin-bottom: 0;
    }
}