*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	&::after {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	&::before {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
}

html{
    background: $body_color;
}

html,
body{
    min-height: 100%;
    -webkit-overflow-scrolling:touch;
}

body{
    max-width: 520px;
    font-family: $font_normal, $font_reset_default;
    font-size: $font_size_6;
	color: $color_1;
	padding:24px;
    margin:auto;
    background-color: transparent;
    user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

h1,h2,h3,h4,h5,h6,strong{font-weight: normal;}
i{font-style: normal;}

p{
    line-height: 1.6;
    font-size: $font_size_4;
    padding-top:5px;
    strong{
        color: $color_2;
    }
}

a{
    color:inherit;
	text-decoration: none;
	outline: none;
	transition: all .2s;
	&:hover {
		outline: none;
	}
	&:focus {
		outline: none;
    }
    &:active{
        opacity: .8;
        transform:scale(.8,.8);
    }
	img {
		outline: none;
		border: none;
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto !important;
	margin: auto;
}

ul,
ol{list-style: none;}

.left-aligned{text-align: left;}
.center-aligned{text-align: center;}
.right-aligned{text-align: right;}
.has-top-margin{margin-top:30px !important;}
.has-bottom-margin{margin-bottom:30px !important;}
.has-small-top-margin{margin-top:20px !important;}
.has-small-bottom-margin{margin-bottom: 20px !important;}
.has-xsmall-top-margin{margin-top:10px !important;}
.has-xsmall-bottom-margin{margin-bottom: 10px !important;}

.has-clear-fix::after {
    content: '';
    display: table;
    height: 0;
    clear: both;
    visibility: hidden;
}

.table-display{
    display:table;
    width:100%;
    height: 100%;
}

.table-cell-display{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.divider{
    padding-top:10px;
    margin-top:30px;
    border-top:1px solid $background_color_4;
}