form {
    padding-bottom: 20px;
    input,
    .form-control,
    select,
    textarea{
        outline-color: $color_7 !important;
        outline-width: 2px !important;
        box-shadow: none !important;
        &:focus{
            outline-color: $color_7 !important;
            outline-width: 2px !important;
            outline-style: solid !important;
        }
	}
	input[type="range"],
	input[type="file"],
	.custom-file-input:focus ~ .custom-file-label{
		outline: none !important;
		box-shadow: none !important;
		border: none !important;
	}
    textarea.form-control{
        min-height: 130px;
        padding:10px;
        border-radius: $border_radius_small;
    }
    .vpd-icon-btn{
        display: table-cell !important;
        width:46px !important;
        text-align: center;
        padding:0 5px !important;
		margin-bottom: 0;
		background-color: $background_color_3 !important;
        border-radius: $border_radius_small 0 0 $border_radius_small;
	}
	.range-holder{
		position: relative;
		padding-bottom: 7px;
		span{
			position: absolute;
			bottom:-10px;
			left:0;
			display: inline-block;
			&.low{
				color:$color_9;
			}
			&.medium{
				left: 50%;
				width:80px;
				color:$color_10;
				text-align: center;
				margin-left: -40px;
			}
			&.high{
				left:auto;
				right:0;
				color:$color_11;
			}
		}
	}
    .section-holder{
		padding:12px;
		margin-bottom:15px;
		border:1px solid $color_6;
		border-radius: $border_radius_medium;
		.field-holder{
			&:first-child{margin-top:0;}
			&:last-child{margin-bottom: 0;}
		}
		.inner-box{
			width:48%;
			margin-top:15px;
		}
        .vpd-input-group input{
            height: 38px;
            line-height: 40px;
            border:none;
            border-radius: 0 $border_radius_small $border_radius_small 0;
        }
        .vpd-content,
        .vpd-actions{
            font-family: inherit;
        }
        .vpd-actions{
			direction: rtl;
            text-align: center;
        }
        .vpd-container{
            overflow: hidden;
            border-radius: $border_radius_medium;
            .vpd-day-text{
                color:$color_6;
            }
            .vpd-day.selected{
                .vpd-day-text{
                    color:$color_1;
                }
            }
            .vpd-month-label{
                color:$color_6;
                overflow: visible;
			}
			.vpd-addon-list-item{
				height: 48px;
				line-height: 48px;
				border:none !important
			}
            .vpd-addon-list-item.selected{
                color:$color_1 !important;
                background-color: $background_color_8;
            }
        }
    }
	.field-holder{
		margin:25px 0;
		::-webkit-input-placeholder {
			font-family: $font_normal;
			font-size: $font_size_6;
			color: $color_5;
		}
		:-moz-placeholder {
			font-family: $font_normal;
			font-size: $font_size_6;
			color: $color_5;
		}
		::-moz-placeholder {
			font-family: $font_normal;
			font-size: $font_size_6;
			color: $color_5;
		}
		:-ms-input-placeholder {
			font-family: $font_normal;
			font-size: $font_size_6;
			color: $color_5;
		}
		
		input {
			&:-webkit-autofill {
				background-color: $background_color_2;
				&:focus {
					background-color: $background_color_2;
				}
				&:active {
					background-color: $background_color_2;
				}
			}
			display: block;
			width: 100%;
			height: 40px;
			line-height: 41px;
			font-size: 1rem;
			color: $color_3;
            padding: 0 10px;
            -webkit-appearance: none;
			background-color: $background_color_2;
			border: none;
			border-radius: 0 $border_radius_small $border_radius_small 0;
			&.standalone{
				border-radius: $border_radius_small;
			}
			&:not([type="submit"]) {
				&:focus {
                    background-color: $background_color_2;
				}
			}
		}
		
		select {
			display: block;
			width: 100%;
			height: 40px;
			line-height: 41px;
			font-family: $font_reset_default;
			font-size: 1rem;
			color: $color_2;
			text-align: center;
			padding: 0 10px;
			cursor: pointer;
			background: url('~@/assets/images/assets/arrow-bottom-dark.svg') no-repeat 95% center $background_color_1;
			background-size: 10px;
			border:none;
			border-radius: $curve_radius;
            -webkit-appearance: none;
		}
		
		button{
			position: relative;
			display: block;
			width:100%;
			height: 46px;
			font-family: inherit;
			font-size: $font_size_8;
			color:$color_6;
			text-align: center;
			padding:5px 10px;
			cursor: pointer;
            user-select: none;
            outline-color: $color_2;
            outline-width: 2px;
            background-color: $background_color_7;
			border:none;
            border-radius: $border_radius_small;
            transition: transform .2s ease-in-out;
			&:active{
				transform:scale(.9,.9);
            }
            &:focus{
                outline-color: $color_4;
                outline-width: 2px;
                outline-style: solid;
            }
		}
		p.error-field{
			color: $color_4;
			text-align: inherit !important;
			padding-top:5px !important;
		}
		label{
			display:block;
			font-size: $font_size_8;
			margin-bottom: 15px;
		}
	}
}