.title{
    display:flex;
    justify-content: center;
    text-align: center;
    padding:10px 0 24px 0;
    h1{
        position: relative;
        display:inline-block;
        font-size: 2.4rem;
        padding-bottom: 12px;
        &::after{
            content:'';
            position: absolute;
            bottom:0;
            left:0;
            width:100%;
            height: 4px;
            background: $gradient_color;
            border-radius: $border_radius_large;
        }
    }
}