$font_normal: 'Brandon';
$font_reset_default: sans-serif;
$font_size_0:10px;
$font_size_1:11px;
$font_size_2:12px;
$font_size_3:13px;
$font_size_4:14px;
$font_size_5:15px;
$font_size_6:16px;
$font_size_7:17px;
$font_size_8:18px;
$font_size_9:19px;
$font_size_10:20px;
$font_size_11:21px;
$font_size_12:22px;
$font_size_13:23px;
$font_size_14:24px;
$color_1: #fefefe;
$color_2: #0000bf;
$color_3: #1a1a1a;
$color_4: #35495e;
$color_5: #aeaeae;
$color_6: #2e2e2e;
$color_7: #99fe00;
$color_8: #3939f0;
$color_9: #cbbb37;
$color_10: #f38541;
$color_11: #ee4f4f;
$background_color_1: #161616;
$background_color_2: #fefefe;
$background_color_3: #0000bf;
$background_color_4: #242424;
$background_color_5: #e7e7e7;
$background_color_6: #7e7e7e;
$background_color_7: #99fe00;
$background_color_8: #044bc7;
$body_color: linear-gradient(180deg, #161616 20%, #010101 100%);
$gradient_color: linear-gradient(90deg, #0000bf 20%, #99fe00 100%);
$border_radius_small: 4px;
$border_radius_medium: 6px;
$border_radius_large: 8px;
$curve_radius: 30px;
$circle_radius: 50%;
